<form class="form" role="form" autocomplete="off">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre Proyecto</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" >
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Project Manager</label>
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Juanito</a>
		    <a class="dropdown-item" href="#">Dana</a>
		    <a class="dropdown-item" href="#">Felix</a>
		  </div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Descripcion</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" >
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Developers</label>
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Juanito</a>
		    <a class="dropdown-item" href="#">Dana</a>
		    <a class="dropdown-item" href="#">Felix</a>
		  </div>
		</div>
		<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Dropdown button
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="#">Juanito</a>
		    <a class="dropdown-item" href="#">Dana</a>
		    <a class="dropdown-item" href="#">Felix</a>
		  </div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<input type="reset" class="btn btn-secondary" value="Cancel">
			<input type="button" class="btn btn-primary"
				value="Save Changes">
		</div>
	</div>
</form>